<h1 class="center">Listing all articles</h1>
<div class="center">
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
  <div class="row">
    <div class="col-xs-8 col-xs-offet-2">
      <% if logged_in? %>
        <%= link_to "Create new article", new_article_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
<div class="center">
  <%= will_paginate %>
</div>

