<div class='center jumbotron jumbotron-about'>
  <h1>TEST BLOG</h1>
  <%= link_to "Sign Up Now", signup_path, class: "btn btn-danger btn-lg btn-xlrg" %>
</div>
  
<div class="row">
  <div class="col-xs-12">
    <h3> This website is a test blog. It was built from scratch using the following technologies: Ruby on Rails, HTML5, CSS3, jQuery, Bootstrap, and Postgress SQL. It was built as a functional demonstration of my developmental skills. Please feel free to sign up and test the functionalities of the site.<br><br>Thanks,<br>Jacob Winkle</h3>
  </div>
</div>