.navbar-default, .navbar-nav .active a, .navbar-default a {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

#logo {
  float:left;
  font-size: 1.7em;
  color: #FFFFFF;
  text-transform: capitalize;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('ide.png');
  background-size: 100% 550px;
  box-shadow: 3px 3px 3px #CDCDCD;
}

.jumbotron-home {
  height: 550px;
}

.jumbotron-about {
  height: 300px;
}

.jumbotron h1 {
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 3px 3px 3px #454545;
}

.btn-xlrg {
  background-color: rgba(255,255,255,0.3);
  border-color:  rgba(255,255,255,0.0);
  font-size: 1.7em;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #CDCDCD;
  color: #777777;
  width: 100%;
}

footer a:hover {
  color: #222222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  display: inline;
  font-size: 85%;
}

.row {
  width: 99%;
}

.article-actions {
  border-top: 1px solid #EAEAEA;
  text-align: right;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
  padding-bottom: 15px;
}