<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; by <a href="mailto: jacobwinkle@gmail.com">Jacob Winkle</a> 2016
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>